page-use-index {
  .right-input{
    position: absolute;
    top: 2.35rem;
    right: 1rem;
    width: 3.4rem;
    height: 3.4rem;
    transform: translateY(-50%);
    background-image: url(../assets/imgs/i-keyboad1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.4rem;
  }
  
}
