page-washing-line {
  .right-input{
    position: absolute;
    top: 2.8rem;
    right: 1.5rem;
    color: #fff;
    transform: translateY(-50%);
    z-index: 11;
    // padding-right: 1.4rem;
    // background-image: url(../assets/imgs/i-keyboad1.png);
    // background-position: right center;
    // background-repeat: no-repeat;
    // background-size: 2.4rem;
  }
  .header-zoom {
    float: right;
    font-size: 14px;
    margin: 0 20px;
  }
  .g-footer{
    z-index: 1;
    .u-button:last-child{
      border-left: 1px solid #e5e5e5;
    }
  }
  .scroll-content{
    padding-top: 8.6rem !important;
    padding-bottom: 5.2rem !important;
  }
  .list-item{
    padding-left: 1.5rem;
  }
  .custom-item .label{
    display: flex;
  }
  .up-zoom {
    background-color: white;
   
    .time-line {
      font-size: 1.6rem;
      display: flex;
      background: #FFFFFF;
      border: 1px solid #f9f9f9;
      box-shadow: 0 .4rem 1.2rem 0 rgba(0,0,0,0.10);
      border-radius: .4rem;
      flex-grow: 1;
      margin: 1.5rem;
      height: 6rem;
      color: #666666;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;

      & > div {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
      }

      & > div:first-child {
        font-size: 1.6rem;
        color: #666;
        line-height: 2rem;
        & > span:last-child {
          color: #a5a5a5;
          font-size: 1.4rem;
        }
      }

      & > div:last-child {
        height: 3.6rem;
        line-height: 3.6rem;
        background: url("../assets/imgs/i-time1.png") 0 center no-repeat;
        background-size: 2.8rem auto;
        padding-left: 4rem;

        span {
          font-size: 2.8rem;
          font-weight: bold;
          color: #f5a623;
        }
      }
    }

    .chart-line {
      display: flex;
      height: 200px;
      flex-grow: 1;
    }
  }

  .down-zoom {
    margin-top: 1rem;
    background-color: white;

    .sum-num {
      display: flex;
      height: 4rem;
      line-height: 4rem;
      color: #a5a5a5;
      font-size: 1.4rem;
      justify-content: flex-start;
      align-items: center;
      padding-left: 1.5rem;
      border-bottom: 1px solid #e5e5e5;

      span {
        min-width: 100px;
        display: inline-flex;

        em {
          color: #0080ff;
          display: inline-flex;
          align-items: center;
          padding-left: .8rem;
          font-style: normal;
          font-weight: bold;
        }
      }
    }

    // .sum-list {
    //   .list-zoom {
    //     .list-block:last-child {
    //       margin-left: 0;
    //       padding-left: 10px;
    //       background-position: 94.5% 26px;
    //       margin-bottom: 80px;
    //     }

    //     .list-block {
    //       display: flex;
    //       justify-content: flex-start;
    //       height: 65px;
    //       align-items: center;
    //       margin-left: 10px;
    //       border-bottom: 1px solid #E5E5E5;

    //       & > img {
    //         width: 45px;
    //         height: 45px;
    //         display: inline-flex;
    //         flex-grow: 0;
    //       }

    //       & > div {
    //         display: inline-flex;
    //         flex-grow: 1;
    //         flex-direction: column;
    //         padding-left: 10px;
    //         color: #333333;

    //         span {
    //           display: inline-flex;
    //           color: #a5a5a5;
    //           font-size: 13px;

    //           em {
    //             font-size: 14px;
    //             color: #0080ff;
    //             display: inline-flex;
    //             align-items: center;
    //           }
    //         }

    //         span:first-child {
    //           padding-right: 25px;
    //         }
    //       }

    //       & > span {
    //         background: url("../assets/imgs/i-next.png") 0 0 no-repeat;
    //         background-size: 8px auto;
    //         background-position: 0 26px;
    //         display: inline-flex;
    //         width: 30px;
    //         flex-grow: 0;
    //         height: 100%;
    //       }
    //     }
    //   }
    // }
  }

  // .btn {
  //   position: fixed;
  //   bottom: 0;
  //   height: 53px;
  //   width: 100%;
  //   border-top: 1px solid #e5e5e5;
  //   text-align: center;
  //   z-index: 1000;
  //   background-color: white;

  //   span {
  //     float: left;
  //     width: 50%;
  //     line-height: 53px;
  //     height: 53px;
  //     color: #333333;
  //     font-size: 18px;
  //   }

  //   span:first-child {
  //     border-right: 1px solid #e5e5e5;
  //   }
  // }

  .modal-zoom {
    position: fixed;
    top: 46px;
    z-index: 10000000;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;

    .sures {
      background-color: white;
      padding: 10px;

      span {
        height: 42px;
        border: 1px solid #E5E5E5;
        border-radius: 6px;
        font-size: 18px;
        color: #333333;
        width: 100%;
        display: inline-block;
        text-align: center;
        line-height: 42px;
      }
    }

    .m-b {
      background-color: white;
      display: flex;
      flex-direction: column;

      .m-til {
        height: 30px;
        line-height: 30px;
        padding-left: 16px;
        background-color: #f3f3f3;
        color: #666666;
        font-size: 14px;
        display: inline-flex;
      }

      .m-list {
        display: inline-flex;
        height: 45px;
        line-height: 45px;
        font-size: 16px;
        color: #333333;
        margin: 0 0 0 16px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
      }

      .m-list:last-child {
        // border-bottom: 0;
        margin: 0;
        padding-left: 16px;
      }

      .mb-true {
        color: #0080ff;

        .m-true {
          display: inline-flex;
          background: url("../assets/imgs/i-Check.png") 0 0 no-repeat;
          width: 18px;
          height: 12px;
          margin-right: 16px;
          background-size: 18px auto;
          display: inline-block;
        }
      }
    }
  }
}