page-putaway-change {
  background-color: white;

  .p-content {
    background-color: white;
    height: 100%;
    padding-top: 92px;

    .up-zoom {
      .p-list {
        .list-zoom {
          display: flex;
          flex-direction: row;
          height: 85px;

          & > button {
            flex-grow: 1;
          }

          .p-list-item {
            display: flex;
            height: 85px;
            border-bottom: 1px solid #e5e5e5;

            & > span {
              display: inline-flex;
              background: url("../assets/imgs/i-next.png") 0 38px no-repeat;
              background-size: 6px auto;
              width: 6px;
              height: 100%;
              padding-left: 20px;
            }

            & > img {
              width: 55px;
              height: 55px;
            }

            & > div.info,
            & > img,
            & > input.u-radio {
              display: inline-flex;
              flex-grow: 0;
            }

            & > img {
              margin: auto 5px;
            }

            input.u-radio {
              margin: auto 10px;
            }

            div.info {
              display: inline-flex;
              flex-direction: column;
              justify-content: center;
              margin-left: 5px;
              flex-grow: 1;

              h2,
              p {
                display: inline-flex;
              }

              h2 {
                font-family: PingFangSC-Regular;
                font-size: 16px;
                color: #333333;
                letter-spacing: 0;
                margin-bottom: 4px;
              }

              p {
                font-family: PingFangSC-Regular;
                font-size: 13px;
                color: #A5A5A5;
                letter-spacing: 0;
              }
            }
          }
        }
      }
    }

    .check-all {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 4rem;
      padding-left: 1.5rem;
      background-color: #fff;
      border-bottom: 1px solid #e5e5e5;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;

      .u-radio-box {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding-top: 0.8rem;
      }

      .right-input {
        width: 5.6rem;
        height: 100%;
        border-left: 1px solid #e5e5e5;
        background-image: url("../assets/imgs/i-keyboad.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 2.4rem;
      }
    }
  }
}