page-washing-quality {
  background-color: white;

  .w-quality {
    background-color: white;
    height: 100%;
    padding-top: 8.6rem;

    .w-header {
      border-bottom: 1px solid #e5e5e5;
      padding: 0 1.5rem;
      div.w-sel {
        float: left;
        width: 33.33%;
        position: relative;
        overflow: hidden;
        height: 4rem;
        &:nth-child(2){
          text-align: center;
        }
        &:nth-child(3){
          text-align: right;
        }
        .select{
          display: inline-block;
          padding: 0;
          padding-right: 1.5rem;
          background-image: url(../assets/imgs/i-down1.png);
          background-position: right center;
          background-repeat: no-repeat;
          background-size: .9rem;
          max-width: 100%;
        }
        .select-text{
          height: 4rem;
          line-height: 4rem;
          font-size: 1.4rem;
          color: #666;
        }
        .select-icon{
          display: none;
        }
      }
    }

    .c-zoom {
      .c-list:last-child .item:after{
        left: 0;
      }
      .c-list .item{
        display: flex;
        align-items: center;
        height: 6.5rem;
        padding-left: 1.5rem;
        justify-content: space-between;
        &:after{
          content: '';
          display: block;
          position: absolute;
          left: 1.5rem;
          right: 0;
          bottom: 0;
          height: 1px;
          background-color: #e5e5e5;
        }
        .l-times {
          margin-top: .4rem;
          font-size: 1.3rem;
          color: #a5a5a5;
          line-height: 1.8rem;
          span {
            padding-right: 1.5rem;
          }

          em {
            font-size: 1.3rem;
            font-style: normal;
            padding-left: .6rem;
          }
        }

        .l-name {
          color: #333333;
          font-size: 1.6rem;
          line-height: 2.2rem;
          display: inline-flex;
          flex-direction: column;

          em {
            color: #a5a5a5;
            padding-left: .6rem;
            font-style: normal;
          }
        }

        .r-zoom {
          position: absolute;
          top: 1rem;
          right: 3.6rem;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .r-tips {
            display: inline-flex;
            border-radius: 100px;
            background-color: blue;
            justify-content: center;
            align-items: center;
            height: 2.4rem;
            width: 6rem;
            color: white;
            font-size: 1.2rem;
          }

          .r-0 {
            background-color: #a5a5a5;
          }

          .r-1 {
            background-color: #ffe4e8;
            color: #f4333c;
          }

          .r-2 {
            background-color: #daedff;
            color: #0080ff;
          }
        }
        .arrow-right{
          display: block;
          position: absolute;
          top: 50%;
          right: 1.5rem;
          width: .5rem;
          height: .9rem;
          transform: translateY(-50%);
          background-image: url(../assets/imgs/i-next.png);
          background-size: 100%;
        }
      }

      // .c-list:last-child {
      //   margin-left: 0;
      //   padding-left: 10px;
      // }
    }
  }
}