page-washing-free {
  .right-input{
    position: absolute;
    top: 2.8rem;
    right: 1.5rem;
    width: 2.4rem;
    height: 3rem;
    color: #fff;
    transform: translateY(-50%);
    z-index: 11;
    padding-right: 1.4rem;
    background-image: url(../assets/imgs/i-keyboad1.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 2.4rem;
  }
  .up-zoom {
    padding-top: 8.6rem;
    .list-zoom {
      border-bottom: 1px solid #e5e5e5;
      margin-left: 1.5rem;
      height: 4.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > div.name {
        display: inline-flex;
        color: #a5a5a5;
        font-size: 1.6rem;
      }

      & > div.days {
        display: inline-flex;
        font-size: 1.6rem;
        position: relative;
        overflow: hidden;
        ion-datetime{
          padding-right: 1.2rem;
        }
        & > span {
          margin-right: 1.5rem;
          background: url("../assets/imgs/i-down1.png") center no-repeat;
          width: 1.5rem;
          height: 4.4rem;
          background-size: .9rem;
        }
      }

      & > div.counters {
        display: inline-flex;
        font-size: 1.6rem;

        span {
          margin-right: 1.2rem;
          line-height: 4.4rem;
        }

        span:first-child {
          color: #333333;
        }

        span:last-child {
          margin-right: 1.5rem;
          background: url("../assets/imgs/i-plus.png") left center no-repeat;
          width: 1.4rem;
          height: 4.4rem;
          background-size: 100%;
        }
      }
    }

    .list-zoom:last-child {
      margin-left: 0;

      & > div.name {
        padding-left: 1.6rem;
      }
    }

    .btn-zoom {
      display: inline-flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 1.5rem;

      .run-zoom {
        display: inline-flex;
        width: 31.333%;
        height: 4.4rem;
        border-radius: .4rem;
        border: 1px solid #d2d2d2;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &:nth-child(3n+2){
          margin: 0 3%;
        }
        &:nth-child(n+4){
          margin-top: 3%;
        }
        span:first-child {
          font-size: 14px;
          color: #333333;
        }

        span:last-child {
          font-size: 12px;
          color: #a5a5a5;
        }
      }

      .tapped-zoom {
        border: 1px solid #0080ff;

        span {
          color: #0080ff!important;
        }
      }
    }
  }

  // .down-zoom {
  //   height: 150px;
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center;

  //   div {
  //     display: inline-flex;
  //     width: 100%;
  //   }

  //   div:first-child {
  //     background-color: #c7c7c7;
  //     height: 100px;
  //     width: 100%;
  //     display: block;
  //   }

  //   div:last-child {
  //     color: #a5a5a5;
  //     font-size: 16px;
  //     justify-content: center;
  //   }
  // }
  .m-scan{
    padding-top: 4rem;
    .img{
      width: 38.88%;
      margin: 0 auto;
      img{
        display: block;
        width: 100%;
      }
    }
    p{
      margin-top: 2rem;
      height: 2.2rem;
      line-height: 2.2rem;
      font-size: 1.6rem;
      color: #a5a5a5;
      text-align: center;
    }
  }
}