<!-- <ion-header>

  <ion-navbar>
    <ion-title>washingDetailList</ion-title>
  </ion-navbar>

</ion-header> -->
<div class="m-title">
  <custom-header [tabs]="['清洗盘16091015487']" tabindex="0"></custom-header>
</div>
<ion-content no-padding>
  <ion-list class="custom-list">
    <div class="custom-item" *ngFor="let item of list;let index = index">
      <button ion-item [navPush]="packageDetailPage">
        <div class="list-item">
          <img src="assets/imgs/item.jpg" />
          <div class="info">
            <h2>{{item.name}}</h2>
            <p>{{item.id}}&emsp;器械数量：
              <span class="text-primary fw700">{{item.sum}}</span>
            </p>
          </div>
          <!-- <span class="status used" *ngIf="item.status===1">已使用</span>
          <span class="status overdue" *ngIf="item.status===2">已过期</span>
          <span class="status unqualified" *ngIf="item.status===3">不合格</span> -->
        </div>
        <a class="right">
          <span class="arrow-right"></span>
        </a>
      </button>

    </div>
  </ion-list>
  <!-- <div class="list-zoom">
    <div class="list-block" *ngFor="let item of list;let index = index">
      <img src="assets/imgs/item.jpg" alt="">
      <div class="">
        <div>{{item.name}}</div>
        <div>
          <span>{{item.id}}</span>
          <span>机械数量：
            <em>{{item.sum}}</em>
          </span>
        </div>
      </div>
      <span [navPush]="sortingDetailPage"></span>
    </div>
  </div> -->
</ion-content>