page-recycle-index {
  .m-title .right {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    padding-right: 1.4rem;
    color: #fff;
    transform: translateY(-50%);
  }

  .department {
    padding-right: 1.4rem;
    background-image: url("../assets/imgs/i-down.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 0.9rem;
  }

  .top-bar {
    height: 4rem;
    line-height: 4rem;
    padding: 0 1.5rem;
    color: #666;
    border-bottom: 1px solid #e5e5e5;
  }

  

  .check-all {
    display: flex;
    height: 4rem;
    padding-left: 1.5rem;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    align-content: center;

    .u-radio-box {
      flex: 1;
      padding-top: 0.8rem;
    }

    .right-input {
      width: 5.6rem;
      height: 100%;
      border-left: 1px solid #e5e5e5;
      background-image: url("../assets/imgs/i-keyboad.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 2.4rem;
    }
  }
}

.custom-list {
  margin-top: 0;
  margin-bottom: 0;

  .item-inner {
    padding-right: 0 !important;
    border-bottom: none !important;
  }

  .item-block {
    padding-left: 0;
  }

  .input-wrapper > .label {
    margin: 0;
    border-bottom: 0;
  }
}

