page-recycle-index {
  

  .top-bar {
    height: 4rem;
    line-height: 4rem;
    padding: 0 1.5rem;
    color: #666;
    border-bottom: 1px solid #e5e5e5;
  }

.custom-list {
  margin-top: 0;
  margin-bottom: 0;

  .item-inner {
    padding-right: 0 !important;
    border-bottom: none !important;
  }

  .item-block {
    padding-left: 0;
  }

  .input-wrapper > .label {
    margin: 0;
    border-bottom: 0;
  }
  
}

}