page-sterilization-list {
  background-color: white;

  .c-content {
    background-color: white;
    padding-top: 92px;
    height: 100%;

    .c-zoom {
      .c-list {
        display: flex;
        align-items: center;
        height: 65px;
        margin-left: 10px;
        border-bottom: 1px solid #e5e5e5;
        justify-content: space-between;

        .l-times {
          font-size: 13px;
          color: #a5a5a5;

          span {
            padding-right: 15px;
          }

          em {
            font-size: 14px;
            color: #0080ff;
          }
        }

        .l-name {
          color: #333333;
          font-size: 16px;
          display: inline-flex;
          flex-direction: column;
        }

        .r-zoom {
          display: flex;
          flex-direction: column;
          margin-right: 10px;
          align-items: flex-end;

          .r-tips {
            display: inline-flex;
            border-radius: 100px;
            background-color: blue;
            justify-content: center;
            align-items: center;
            height: 24px;
            width: 60px;
            color: white;
          }

          .r-0 {
            background-color: #41b862;
          }

          .r-1 {
            background-color: #f5a623;
          }

          .r-2 {
            background-color: #0080ff;
          }

          .r-3 {
            background-color: #a5a5a5;
          }

          .r-times {
            font-size: 12px;
            padding-right: 2px;
            padding-top: 5px;
            display: inline-flex;
          }

          .rr-0 {
            color: #41b862;
          }

          .rr-1 {
            background: url("../assets/imgs/i-time.png") 0 3px no-repeat;
            padding-left: 22px;
            background-size: 16px auto;
            color: #f5a623;
          }

          .rr-2 {
            color: #0080ff;
          }

          .rr-3 {
            color: #a5a5a5;
          }
        }
      }

      .c-list:last-child {
        margin-left: 0;
        padding-left: 10px;
      }
    }
  }
}