page-washing-statistics {
  background-color: white;

  .w-statistics {
    background-color: white;
    height: 100%;
    padding-top: 92px;

    .w-sum {
      height: 80px;
      margin: 10px 0;
      display: flex;
      justify-content: space-around;
      background-color: #f3f3f3;
      align-items: center;

      span {
        display: inline-flex;
        font-size: 20px;
        color: #6f6565;

        em {
          padding-left: 15px;
          font-style: normal;
          font-size: 25px;
          color: #0080ff;
        }
      }
    }

    .w-header {
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid #d2d2d2;

      div.w-sel {
        display: inline-flex;
        flex-grow: 1;
        position: relative;
      }
    }

    .down-zoom {
      margin-top: 10px;
      background-color: white;

      .sum-list {
        .list-zoom {
          .list-block:last-child {
            margin-left: 0;
            padding-left: 10px;
            background-position: 94.5% 26px;
            margin-bottom: 80px;
          }

          .list-block {
            display: flex;
            justify-content: flex-start;
            height: 65px;
            align-items: center;
            margin-left: 10px;
            border-bottom: 1px solid #E5E5E5;

            & > img {
              width: 45px;
              height: 45px;
              display: inline-flex;
              flex-grow: 0;
            }

            div.names {
              display: inline-flex;
              flex-grow: 1;
              flex-direction: column;
              padding-left: 10px;
              color: #333333;

              & > div:first-child {
                em {
                  padding-left: 10px;
                  color: #a5a5a5;
                  font-style: normal;
                }
              }

              & > div:last-child {
                color: #a5a5a5;
              }

              span {
                display: inline-flex;
                color: #a5a5a5;
                font-size: 13px;

                em {
                  font-size: 14px;
                  color: #0080ff;
                  display: inline-flex;
                  align-items: center;
                }
              }

              span:first-child {
                padding-right: 25px;
              }
            }

            div.qua {
              span {
                display: inline-block;
              }

              span.dot-0 {
                color: #ff778b;
              }

              span.dot-1 {
                color: #0080ff;
              }
              margin-right: 15px;
            }

            & > span {
              background: url("../assets/imgs/i-next.png") 0 0 no-repeat;
              background-size: 8px auto;
              background-position: 0 26px;
              display: inline-flex;
              width: 30px;
              flex-grow: 0;
              height: 100%;
            }
          }
        }
      }
    }
  }
}