page-sorting-scan {
  .scan-zoom {
    display: flex;
    height: 230px;
    margin-top: 20%;
    background-color: #c7c7c7;
  }

  .word-zoom {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    color: #a5a5a5;
  }
}