page-recycle-statistics {
  .g-content{
    padding-top: 7.7rem;
  }
  .list-item{
    padding-left: 1.5rem;
  }
  ion-list + .department-tit{
    border-top: 1px solid #e5e5e5;
  }
  .list-item label{
    padding-left: 1.5rem;
  }
}