page-recycle-statistics {
  .g-content{
    padding-top: 8.6rem;
  }
  .list-item{
    padding-left: 1.5rem;
  }
  .list-item label{
    padding-left: 1.5rem;
  }
  .mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: none;
    &.show{
      display: block;
    }
  }
  
}