<div class="m-title">
  <custom-header [tabs]="['手工清洗2(34/54)']" tabindex="0"></custom-header>
  <login-info></login-info>
</div>


<ion-content no-adding>
  <div class="p-zoom">
    <div class="up-zoom">
      <div class="p-result">
        <span>合格</span>
      </div>
      <div class="p-lines">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
          [legend]="lineChartLegend" [chartType]="lineChartType" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="down-zoom">
      <div class="sum-num">
        <span>包总数:
          <em>55</em>
        </span>
        <span>器械总数:
          <em>88</em>
        </span>
      </div>
      <ion-list class="custom-list">
        <div class="custom-item" *ngFor="let item of list;let index = index">
          <button ion-item [navPush]="washingDetailListPage">
            <div class="list-item">
              <div class="info">
                <h2>{{item.name}}&ensp;
                  <span class="text-muted"></span>
                </h2>
                <p>{{item.id}}&emsp;&emsp;包数量：
                  <span class="text-primary fw700">{{item.sum}}</span>&emsp;&emsp;机械总数量：
                  <span class="text-primary fw700">{{item.sum}}</span>
                </p>
              </div>
            </div>
            <div class="right">
              <span class="arrow-right"></span>
            </div>
          </button>

        </div>
      </ion-list>
      <!-- <div class="sum-list">
        <ion-list>

          <div class="list-zoom">
            <div class="list-block" *ngFor="let item of list ;let index=index">
              <img src="assets/imgs/item.jpg" alt="">
              <div class="">
                <div>{{item.name}}</div>
                <div>
                  <span>{{item.id}}</span>
                  <span>机械数量：
                    <em>{{item.sum}}</em>
                  </span>
                </div>
              </div>
              <span [navPush]="sortingDetailPage"></span>
            </div>

          </div>
        </ion-list>
      </div> -->
    </div>
  </div>
</ion-content>