<div class="w-statistics">
  <!-- <div class="w-sum">
    <span>今日清洗总是<em>33</em></span>
    <span>今日锅次<em>6</em></span>
  </div> -->
  <div class="m-statistics">
    <div class="item">
      <strong class="text-warning">20</strong>
      <p>今日灭菌总数</p>
    </div>
    <div class="item">
      <strong class="text-danger">12</strong>
      <p>今日锅次</p>
    </div>
  </div>
  <div class="u-space-line"></div>
  <div class="w-header clearfix">
    <div class="w-sel">
      <ion-select interface="popover" [(ngModel)]="machs">
        <ion-option value="0">全部灭菌机</ion-option>
        <ion-option value="1">全部灭菌机</ion-option>
        <ion-option value="2">全部灭菌机</ion-option>
      </ion-select>
    </div>
    <div class="w-sel">
      <ion-select interface="popover" [(ngModel)]="statusZoom">
        <ion-option value="0">全部状态</ion-option>
        <ion-option value="2">全部状态</ion-option>
        <ion-option value="3">全部状态</ion-option>
      </ion-select>
    </div>
    <div class="w-sel">
      <ion-select interface="popover" [(ngModel)]="dayZoom">
        <ion-option value="0">当天 (09/08)</ion-option>
        <ion-option value="2">这一周</ion-option>
        <ion-option value="3">这一月</ion-option>
      </ion-select>
    </div>
  </div>
  <ion-list class="custom-list">
    <div class="custom-item" *ngFor="let item of list;let index = index">
      <button ion-item (click)="goAhead(index)">
        <div class="list-item">
          <img src="assets/imgs/item.jpg" />
          <div class="info">
            <h2>{{item.name}}&ensp;
              <span class="text-muted">({{item.finish}}/{{item.sum}})</span>
            </h2>
            <p>{{item.time}}
            </p>
          </div>
          <span class="status normal" *ngIf="item.status===0">合格</span>
          <span class="status unqualified" *ngIf="item.status===1">不合格</span>

        </div>
        <div class="right">
          <span class="arrow-right"></span>
        </div>
      </button>

    </div>
  </ion-list>
  <!-- <div class="down-zoom">
    <div class="sum-list">
      <ion-list>

        <div class="list-zoom">
          <div class="list-block" *ngFor="let item of list ;let index=index">
            <img src="assets/imgs/item.jpg" alt="">
            <div class="names">
              <div>{{item.name}}
                <em>({{item.finish}}/{{item.sum}})</em>
              </div>
              <div>{{item.time}}</div>
            </div>
            <div class="qua">
              质检：
              <span class="dot-{{item.status}}">
                <ng-container *ngIf="item.status==0">合格</ng-container>
                <ng-container *ngIf="item.status==1">不合格</ng-container>
              </span>

            </div>
            <span (click)="goAhead(index)"></span>
          </div>

        </div>
      </ion-list>
    </div>
  </div> -->
</div>