page-home {
  .menus .item{
    float: left;
    width: 20%;
    margin: 6.6% 6.6% 0;
    span{
      display: block;
      margin-top: 1.2rem;
      font-size: 1.6rem;
      line-height: 2.2rem;
      text-align: center;
    }
  }
}
