page-home {
  .g-content{
    background-color: #fff;
  }
  .top-info{
    position: relative;
    margin-bottom: 3.5%;
    padding: 1.5rem;
    height: 9.6rem;
    color: #fff;
    background-image: url(../assets/imgs/homebg.png);
    background-size: 100% 100%;
    h2{
      font-size: 2.4rem;
      height: 3.4rem;
      line-height: 3.4rem;
    }
    p{
      margin-top: .4rem;
      height: 2rem;
      span{
        padding-left: 2.6rem;
        display: inline-block;
        width: 10rem;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 1.6rem;
      }
      .no{
        background-image: url(../assets/imgs/i-number.png);
      }
      .dapart{
        background-image: url(../assets/imgs/i-department1.png);
      }
    }
    .right{
      position: absolute;
      top: 1.9rem;
      right: 1.8rem;
    }
    .notice{
      position: relative;
      float: left;
      margin-right: 3.2rem;
      width: 1.8rem;
      height: 1.8rem;
      background-image: url(../assets/imgs/i-notice.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      span{
        position: absolute;
        top: -.8rem;
        left: 1rem;
        display: block;
        min-width: 2.6rem;
        padding: 0 .2rem;
        height: 1.6rem;
        line-height: 1.6rem;
        text-align: center;
        font-size: 1.2rem;
        border-radius: 1.6rem;
        background-color: #FF513C;
      }
    }
    .more{
      position: relative;
      float: left;
      margin-top: -.1rem;
      width: 2rem;
      height: 2rem;
      background-image: url(../assets/imgs/i-more.png);
      background-position:bottom center;
      background-repeat: no-repeat;
      background-size: 1.8rem;
      
    }
    .list{
      position: absolute;
      top: 150%;
      right: -.5rem;
      width: 12rem;       
      padding: 0 1.5rem;    
      color: #fff;
      background-color: #333;
      box-shadow: 0 4px 12px 0 rgba(0,0,0,0.10);
      border-radius: .4rem;
      z-index: 1;
      display: none;
      &.show{
        display: block;
      }
      &:after{
        content: '';
        display: inline-block;
        position: absolute;
        right: 1rem;
        bottom: 100%;
        width: 0;
        height: 0;
        border-width: .7rem .8rem;
        border-style: solid;
        border-color: transparent transparent #333 transparent;
      }
      li{
        position: relative;
        padding-left: 3rem;
        height: 4.2rem;
        line-height: 4.2rem;
        border-bottom: 1px solid rgba(255,255,255,.2);
        &:last-child{
          border-bottom: none;
        }
        .icon{
          position: absolute;
          display: inline-block;
          top: 50%;
          left: .5rem;
          width: 1.8rem;
          height: 1.8rem;
          background-position: left center;
          background-repeat: no-repeat;
          transform: translateY(-50%);
          &.icon-personal{
            background-image: url(../assets/imgs/i-personal.png);
            background-size: 1.6rem;
          }
          &.icon-mobile-nursing{
            background-image: url(../assets/imgs/i-phone.png);
            background-size: 1.4rem;
          }
          &.icon-logout{
            background-image: url(../assets/imgs/i-exit.png);
            background-size: 1.7rem;
          }
        }
      }
    }
  }
  .tit{
    position: relative;
    margin: 2.2rem 1.5rem;
    height: 1px;
    background-color: #e5e5e5;
    span{
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 0 3.2rem;
      font-size: 1.6rem;
      line-height: 2.2rem;
      color: #a5a5a5;
      background-color: #fff;
      transform: translate(-50%, -50%);
    }
  }
  .menus .item{
    float: left;
    width: 28%;
    margin: 3.3% 2.6%;
    img{
      display: block;
      width: 71%;
      margin: 0 auto;
    }
    span{
      display: block;
      margin-top: 1.2rem;
      font-size: 1.6rem;
      line-height: 2.2rem;
      text-align: center;
      white-space: nowrap;
    }
  }
}
