page-putaway-statistics {
  background-color: white;
  .list-item{
    padding-left: 1.5rem;
  }
  .custom-item .label{
    display: flex;
  }
  .list-item img{
    width: 5.5rem;
    height: 6.5rem;
  }
  .info{
    min-height: 6.5rem;
  }
  .w-statistics {
    background-color: white;
    height: 100%;
    padding-top: 8.6rem;
    overflow-y: scroll;

    .w-sum {
      height: 80px;
      margin: 10px 0;
      display: flex;
      justify-content: space-around;
      background-color: #f3f3f3;
      align-items: center;

      span {
        display: inline-flex;
        font-size: 20px;
        color: #6f6565;

        em {
          padding-left: 15px;
          font-style: normal;
          font-size: 25px;
          color: #0080ff;
        }
      }
    }

    .w-header {
      border-bottom: none;
      padding: 0 1.5rem;
      div.w-sel {
        float: left;
        width: 33.33%;
        position: relative;
        overflow: hidden;
        height: 4rem;
        &:nth-child(2){
          text-align: center;
        }
        &:nth-child(3){
          text-align: right;
        }
        .select{
          display: inline-block;
          padding: 0;
          padding-right: 1.5rem;
          background-image: url(../assets/imgs/i-down1.png);
          background-position: right center;
          background-repeat: no-repeat;
          background-size: .9rem;
          max-width: 100%;
        }
        .select-text{
          height: 4rem;
          line-height: 4rem;
          font-size: 1.4rem;
          color: #666;
        }
        .select-icon{
          display: none;
        }
      }
    }

    .down-zoom {
      background-color: white;

      .sum-list {
        .list-name {
          height: 3rem;
          line-height: 3rem;
          background-color: #f3f3f3;
          font-size: 1.4rem;
          color: #666;
          padding: 0 1.5rem;
        }

        .list-zoom {
          .list-block:last-child {
            margin-left: 0;
            padding-left: 10px;
            background-position: 94.5% 26px;
            margin-bottom: 80px;
          }

          .list-block {
            display: flex;
            justify-content: flex-start;
            height: 65px;
            align-items: center;
            margin-left: 10px;
            border-bottom: 1px solid #E5E5E5;

            & > img {
              width: 45px;
              height: 45px;
              display: inline-flex;
              flex-grow: 0;
            }

            div.names {
              display: inline-flex;
              flex-grow: 1;
              flex-direction: column;
              padding-left: 10px;
              color: #333333;

              & > div:first-child {
                em {
                  padding-left: 10px;
                  color: #a5a5a5;
                  font-style: normal;
                }
              }

              & > div:last-child {
                color: #a5a5a5;
              }

              span {
                display: inline-flex;
                color: #a5a5a5;
                font-size: 13px;

                em {
                  font-size: 14px;
                  color: #0080ff;
                  display: inline-flex;
                  align-items: center;
                }
              }

              span:first-child {
                padding-right: 25px;
              }
            }

            div.qua {
              span {
                display: inline-block;
              }

              span.dot-0 {
                color: #ff778b;
              }

              span.dot-1 {
                color: #0080ff;
              }
              margin-right: 15px;
            }

            & > span {
              background: url("../assets/imgs/i-next.png") 0 0 no-repeat;
              background-size: 8px auto;
              background-position: 0 26px;
              display: inline-flex;
              width: 30px;
              flex-grow: 0;
              height: 100%;
            }
          }
        }
      }
    }
  }
}