<!-- <ion-header>

  <ion-navbar>
    <ion-title>检查</ion-title>
  </ion-navbar>
  <login-info></login-info>

</ion-header> -->
<div class="m-title">
  <custom-header [tabs]="['等离子灭菌机1（1/45）']" tabindex="0"></custom-header>
  <login-info></login-info>
</div>
<ion-content no-padding>
  <div class="" style="background-color:#f3f3f3">

    <div class="up-zoom">
      <div class="time-line">
        <div class="">
          <span>12:11:12</span>
          <span>机械类&ensp;40分钟</span>
        </div>
        <!-- <div class="">
            <span>23:12</span>
          </div> -->
      </div>
      <div class="chart-line">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
          [legend]="lineChartLegend" [chartType]="lineChartType" (chartClick)="chartClicked($event)"></canvas>
      </div>
      <div class="spread-line down" *ngIf="!spreadOut" (click)="toggleSpread($event)">展开</div>
      <div class="spread-line up" *ngIf="spreadOut" (click)="toggleSpread($event)">收起</div>
    </div>
    <div class="u-space-line"></div>
    <div class="down-zoom" *ngIf="spreadOut">
      <div class="sum-num">
        <span>包总数:
          <em>55</em>
        </span>
        <span>器械总数:
          <em>88</em>
        </span>
      </div>
      <div class="sum-list">
        <ion-list class="custom-list">
          <div class="custom-item" *ngFor="let item of list;let index = index">
            <button ion-item [navPush]="packageDetailPage">
              <div class="list-item">
                <div class="info">
                  <h2>{{item.name}}&ensp;
                    <span class="text-muted"></span>
                  </h2>
                  <p>{{item.id}}&emsp;&emsp;包数量：
                    <span class="text-primary fw700">{{item.sum}}</span>&emsp;&emsp;机械总数量：
                    <span class="text-primary fw700">{{item.psum}}</span>
                  </p>
                </div>
              </div>
              <div class="right">
                <span class="arrow-right"></span>
              </div>
            </button>

          </div>
        </ion-list>
        <!-- <ion-list>
  
            <div class="list-zoom">
              <div class="list-block" *ngFor="let item of list ;let index=index">
                <img src="assets/imgs/item.jpg" alt="">
                <div class="">
                  <div>{{item.name}}</div>
                  <div>
                    <span>{{item.id}}</span>
                    <span>机械数量：
                      <em>{{item.sum}}</em>
                    </span>
                  </div>
                </div>
                <span [navPush]="sortingDetailPage"></span>
              </div>
  
            </div>
          </ion-list> -->
      </div>
    </div>
    <div class="u-space-line" *ngIf="spreadOut"></div>
    <div class="m-forms">
      <div class="item">
        <span class="label">温度</span>
        <div class="input">
          <input type="number" placeholder="请输入" />
        </div>
        <span class="unit">℃</span>
      </div>
      <div class="item">
        <span class="label">压力</span>
        <div class="input">
          <input type="number" placeholder="请输入" value="123" />
        </div>
        <span class="unit">kPa</span>
      </div>
      <div class="item">
        <span class="label">物理检测</span>
        <div class="input">
          <span class="segment-box">
            <segment [segments]="['合格', '不合格']" segmentIndex="1"></segment>
          </span>
        </div>
      </div>
      <div class="item">
        <span class="label">化学检测</span>
        <div class="input">
          <span class="segment-box">
            <segment [segments]="['合格', '不合格']" segmentIndex="1"></segment>
          </span>
        </div>
      </div>
      <div class="item">
        <span class="label">生物检测</span>
        <div class="input">
          <span class="segment-box">
            <segment [segments]="['合格', '不合格', '检测中']" segmentIndex="2"></segment>
          </span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<div class="g-footer">
  <div class="flex-wrap">
    <div class="flex-item">
      <button class="u-button blue" (click)="confirmCancel(true)">确定</button>
    </div>
  </div>
</div>