<!-- <ion-header class="g-header">
  <ion-navbar color="primary">
    <ion-title>
      <span *ngFor="let tab of tabs;let index = index" [ngClass]="{active: index==0}" (click)="tabChangeFn(index)">
        {{tab}}
      </span>
      
      <span class="line"></span>
    </ion-title>
  </ion-navbar>
</ion-header> -->
<header>
  <span class="back" (click)="goPrevPage()"></span>
  <div class="tabs">
    <span *ngFor="let tab of tabs;let index = index" [ngClass]="{tab: true, active: index==0, 'tab-only': tabs.length===1}" (click)="tabChangeFn($event, index)">
      {{tab}}
    </span>
    <!-- <span class="line" [style.left]="offsetLeft"></span> -->
  </div>
</header>