custom-header {
  header{
    position: relative;
    color: #fff;
    text-align: center;
    background-color: #0080FF;
    .back{
      position: absolute;
      top: 50%;
      left: 0;
      width: 5.6rem;
      height: 3.2rem;
      background-image: url('../assets/imgs/i-back.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 1.2rem;
      transform: translateY(-50%);
      cursor: pointer;
    }
    .tabs{
      position: relative;
      display: table;
      margin: 0 auto;
      span{
        position: relative;
        display: inline-block;
        padding: 0 1.2rem;
        height: 5.6rem;
        line-height: 5.6rem;
        opacity: 0.7;
        font-size: 2rem;
        &.active{
          opacity: 1;
          font-weight: bold;
          &:after{
            display: block;
          }
        }
        &.tab-only{
          &:after{
            display: none;
          }
        }
        &:after{
          content: '';
          display: none;
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 2.4rem;
          height: 4px;
          padding: 0;
          background-color: #FFC205;
          opacity: 1;
          transform: translateX(-50%);
          transition: .3s left ease-out;
        }
      }
      // .line{
      //   position: absolute;
      //   bottom: 0;
      //   left: 0;
      //   width: 2.4rem;
      //   height: 4px;
      //   padding: 0;
      //   background-color: #FFC205;
      //   opacity: 1;
      //   transform: translateX(-50%);
      //   transition: .3s left ease-out;
      // }
    }
  }
}
