<scan scanType="1" *ngIf="!showPage&&scanStep==1" (click)="changScanStep($event)">
</scan>
<scan scanType="3" *ngIf="!showPage&&scanStep==2" (click)="showIndexPage($event)"></scan>


<div class="g-content" *ngIf="showPage">
  <!-- <div class="statistics-tit">
      <h2>申领单1 </h2>
      <span class="datetime">09/08&ensp;15:14:41</span>
    </div> -->
  <h2 class="tit">申领单 (09/08 12:11:14)</h2>

  <ion-list class="custom-list">
    <div class="custom-item">
      <button ion-item>
        <div class="list-item">
          <img src="assets/imgs/item.jpg" />
          <div class="info">
            <h2>活检钳（放门)</h2>
            <p>
              申领：
              <span class="text-primary">2</span>&emsp; 已发：
              <span class="text-primary">2</span>
            </p>
          </div>
          <span class="status urgent">加急包</span>
        </div>
        <a class="right">
          <span class="arrow-right"></span>
        </a>
      </button>
      <div class="pack-list">
        <p>
          <span>15478965412</span>
          <span>13:44:14</span>
        </p>
        <p>
          <span>15478965412</span>
          <span>13:44:14</span>
        </p>
      </div>
    </div>

    <div class="custom-item">
      <button ion-item>
        <div class="list-item">
          <img src="assets/imgs/item.jpg" />
          <div class="info">
            <h2>插值针</h2>
            <p>
              申领：
              <span class="text-primary">2</span>&emsp; 已发：
              <span class="text-primary">0</span>
            </p>
          </div>
          <span class="status normal">基数包</span>
        </div>
        <a class="right">
          <span class="arrow-right"></span>
        </a>
      </button>
    </div>
    <div class="custom-item">
      <button ion-item>
        <div class="list-item">
          <img src="assets/imgs/item.jpg" />
          <div class="info">
            <h2>插值针</h2>
            <p>
              申领：
              <span class="text-primary">2</span>&emsp; 已发：
              <span class="text-primary">0</span>
            </p>
          </div>
          <span class="status borrow">借包</span>
        </div>
        <a class="right">
          <span class="arrow-right"></span>
        </a>
      </button>
    </div>
    <div class="custom-item">
      <button ion-item>
        <div class="list-item">
          <img src="assets/imgs/item.jpg" />
          <div class="info">
            <h2>插值针</h2>
            <p>
              申领：
              <span class="text-primary">2</span>&emsp; 已发：
              <span class="text-primary">0</span>
            </p>
          </div>
          <span class="status borrow">借包</span>
        </div>
        <a class="right">
          <span class="arrow-right"></span>
        </a>
      </button>
    </div>
  </ion-list>
</div>

<div class="g-footer" *ngIf="showPage">
  <button class="u-button blue" (click)="presentToast($event)">确认发放（1）</button>
</div>