// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

html {
  font-size: 10px;
  color: #333;
}

@media only screen and (min-width: 320px) and (max-width:320px) {
	html {
			font-size:8.533px!important
	}
}

@media only screen and (min-width: 384px) {
	html {
			font-size:10.667px!important
	}
}

@media only screen and (min-width: 412px) {
	html {
			font-size:11.444px!important
	}
}

@media only screen and (min-width: 414px) {
	html {
			font-size:11.04px!important
	}
}

@media only screen and (min-width: 600px) {
	html {
			font-size:20.48px!important
	}
}
