// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
	font-family: "pingFangSC-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	color: #333;
	background: #f4f4f4;
	font-size: 1.4rem;
	box-sizing: border-box;
}
.app-root{
	font-family: "pingFangSC-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
button,
input,
select,
textarea {
	font-family: "pingFangSC-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	outline: none;
	border: none;
	-webkit-appearance: none;
	background-color: #fff;
}

ol,
ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
strong {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	display: block;
	content: '';
	clear: both;
}

.ios a,
a {
	color: #333;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #a5a5a5;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #a5a5a5;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #a5a5a5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #a5a5a5;
}

html {
	font-size: 10px !important;
	color: #333;
}
@media only screen and (min-width: 320px) and (max-width:320px) {
	html {
		font-size: 8.533px!important;
	}
}
@media only screen and (min-width: 384px) {
	html {
		font-size: 10.667px!important;
	}
}
@media only screen and (min-width: 412px) {
	html {
		font-size: 11.444px!important;
	}
}
@media only screen and (min-width: 414px) {
	html {
		font-size: 11.04px!important;
	}
}
@media only screen and (min-width: 600px) {
	html {
		font-size: 20.48px!important;
	}
}

.text-primary {
	color: #0080FF;
}
.text-warning {
	color: #FFA613;
}
.text-danger {
	color: #FF6273;
}
.text-muted {
	color: #a5a5a5;
}
.fw700{
	font-weight: bold;
}
/* button */
.u-button{
	display: block;
	width: 100%;
	height: 4.2rem;
	line-height: 4.2rem;
	font-size: 1.8rem;
	border-radius: .6rem;
	&.blue{
		color: #fff;
		background-color: #0080FF;
		&:active{
			background-color: #0066CC;
		}
		&[disabled]{
			opacity: 1;
			background-color: #ccc;
		}
	}
	&.white{
		color: #333;
		background-color: #fff;
		border: 1px solid #e5e5e5;
		&:active{
			background: #F3F3F3;
			box-shadow: 0 0 0 0 #E5E5E5;
		}
	}
	&.red{
		color: #fff;
		background-color: #FA6865;
		&:active{
			background: #D63431;
			box-shadow: 0 0 0 0 #E5E5E5;
		}
	}
}
.g-footer{
	.u-button{
		height: 5.2rem;
		line-height: 5.2rem;
		border-radius: 0;
		border: none;
	}
	.right-button{
		width: 44.5%;
	}
}
.u-select {
	display: inline-block;
	color: #666;
	padding-right: 1.4rem;
	background-image: url("../assets/imgs/i-down1.png");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: .9rem;
}
.m-title,
.g-header,
.g-content,
.g-footer{
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #fff;
}
.m-title{
	z-index: 2;
}
.g-header{
	top: 5.6rem;
	z-index: 1;
}
.g-content{
	height: 100%;
	background-color: #f3f3f3;
	overflow-y: scroll;
}
.g-footer{
	bottom: 0;
  border-top: 1px solid #e5e5e5;
}

// 美化-checkebox
.u-checkbox-box {
	position: relative;
	span {
		padding-left: 1.2rem;
	}
}
.u-checkbox {
	display: inline-block;
	vertical-align: middle;
	margin-right: -0.4rem;
	width: 2.4rem;
	height: 2.4rem;
	border: 1px solid #c7c7c7;
	border-radius: 2.4rem;
	&[checked] {
		border: none;
		background-image: url("../assets/imgs/i-ok.png");
		background-size: 100%;
	}
}
// 美化-checkebox
.u-radio-box {
	position: relative;
	span {
		padding-left: 1.2rem;
	}
}
.u-radio {
	display: inline-block;
	vertical-align: middle;
	margin-right: -0.4rem;
	width: 2.4rem;
	height: 2.4rem;
	border: 1px solid #c7c7c7;
	border-radius: 2.4rem;
	&:checked {
		border: none;
		background-image: url("../assets/imgs/i-ok.png");
		background-size: 100%;
	}
}
// header-登录信息
.login-info {
	height: 3rem;
	line-height: 3rem;
	color: #666;
	text-align: center;
	background-color: #f3f3f3;

	span {
		position: relative;
		padding: 0 1rem;
		margin-right: -0.4rem;

		&:after {
			position: absolute;
			display: block;
			content: '';
			left: 0;
			top: 50%;
			width: 1px;
			height: 1rem;
			background-color: #d2d2d2;
			transform: translateY(-50%);
		}

		&:first-child:after {
			display: none;
		}
	}
}

// 回收统计
.list{
	margin-top: 0;
}
.custom-list{
	.custom-item{
		position: relative;
		display: flex;
		background-color: #fff;
		&:after{
			content: '';
			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
			left: 1.5rem;
			height: 1px;
			background-color: #e5e5e5;
		}
		&:last-child:after{
			// display: none;
			left: 0;
		}
		.item{
			flex: 1;
			padding-left: 0;
		}
		.item-inner{
			padding: 0;
			border:none;
		}
		.right{
			position: relative;
			display: block;
			width: 3.6rem;
		}
		.label{
			margin: 0;
			padding: 0;
		}
		.arrow-right{
			position: absolute;
			top: 50%;
			right: 1.5rem;
			display: block;
			width: .5rem;
			height: .9rem;
			background-image: url(../assets/imgs/i-next.png);
			background-size: 100%;
			transform: translateY(-50%);
		}
	}
}
button.item-ios:not([detail-none]) .item-inner{
	background-image: none;
}
.list-item {
	position: relative;
	//display: flex;
	padding: 1rem 0;
	
	align-items: stretch;
	
	//label {
		
		flex: 1;
		padding-left: 4.9rem;

		input {
			position: absolute;
			left: 1.5rem;
			top: 50%;
			transform: translateY(-50%);
		}

		img {
			display: block;
			float: left;
			width: 4.5rem;
			height: 4.5rem;
			margin-right: 1rem;
			border-radius: .4rem;
			&+.info{
				min-height: 4.5rem;
			}
		}
		h2 {
			font-size: 1.6rem;
			line-height: 2.2rem;
			margin: 0;
			margin-bottom: 0.4rem;
		}

		p {
			margin: 0;	
			font-size: 1.3rem;
			line-height: 1.8rem;
			color: #a5a5a5;
			+p{
				margin-top: .2rem;
			}
		}

		.status {
			position: absolute;
			top: 1.2rem;
			right: 0;
			width: 6rem;
			padding: 0 1rem;
			font-size: 1.2rem;
			text-align: center;
			height: 2.4rem;
			line-height: 2.4rem;
			border-radius: 2.4rem;
		}

		.used {
			color: #a5a5a5;
			background-color: rgba(165,165,165,.2);
		}

		.overdue {
			color: #E48E39;
			background-color: rgba(228,142,57,.2);
		}

		.unqualified {
			color: #F4333C;
			background-color: rgba(244,51,60,.2);
		}
		
		.borrow{
			color: #41B862;
			background-color: #D7F6E0;
		}

		.normal{
			color: #0080FF;
			background-color: #DAEDFF;
		}

		.urgent{
			color: #fff;
			background-color: #F4333C;
		}
	//}

	.right {
		
	}
}
.m-statistics{
	display: flex;
	background-color: #fff;
	margin-bottom: 1rem;
	.item{
		flex: 1;
		padding: 1rem 0 1.6rem;
		text-align: center;
		strong{
			line-height: 5rem;
			font-size: 4rem;
			font-weight: bold;
		}
		p{
			color: #666;
			line-height: 2rem;
			margin-top: -.4rem;
		}
	}
	&+.u-space-line{
		margin-top: -1rem;
	}
}
.u-space-line{
	height: 1rem;
	background-color: #f3f3f3;	
}
.m-filter-bar{
	display: flex;
	padding: 0 1.5rem;
	height: 4rem;
	line-height: 4rem;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
	.item{
		float: left;
		width: 33.33%;
		//flex: 1;
		text-align: center;
	}
	.item:first-child{
		text-align: left;
	}
	.item:nth-child(3){
		text-align: right;
	}
}
.statistics-tit{
	position: relative;
	display: flex;
	padding: 0 1.5rem;
	height: 4.4rem;
	line-height: 4.4rem;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
	align-items: center;
	&:after{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		width: 3px;
		height: 1.2rem;
		border-radius: 100px;
		background-color: #FFC205;
		transform: translateY(-50%);
	}
	h2{
		flex: 1;
		font-size: 1.4rem;
	}
	.datetime{
		color: #a5a5a5;
	}
}

.flex-wrap{
	display: flex;
	align-items: center;
	.flex-item{
		flex: 1;
	}
}

// 自定义confirm
.custom-confirm{
	.alert-wrapper{
		width: 78%;
		min-width: 78%;
		max-width: 78%;
	}
	.alert-head{
		display: block;
		padding: 2.5rem 2.5rem 0;
		.alert-title{
			color: #333;
			font-size: 2rem;
			line-height: 2.8rem;
			font-weight: bold;
		}
	}
	.alert-message{
		padding: 0 2.5rem 2.5rem;
		font-size: 1.6rem;
		line-height: 2.8rem;
		color: #999;
		.fw{
			font-weight: bold;
		}
	}
	.alert-button-group{
		padding: .8rem;
		border-top: 1px solid #e5e5e5;
	}
	.alert-button{
		width: 26.8%;
		height: 3.6rem;
		line-height: 3.6rem;	
		border-radius: .4rem;
		.button-effect{
			display: none;
		}
		.button-inner{
			justify-content: center;
		}
		&+.alert-button{
			margin-left: .8rem;
		}
		&:first-child{
			color: #333;
			background-color: #f3f3f3;
			&:active{
				background-color:#e5e5e5;
			}
		}
		&:last-child{
			color: #fff;
			background-color: #0080FF;
			&:active{
				background-color:#0066CC;
			}
		}
	}
}

// 清洗slect
.w-header {
	border-bottom: 1px solid #e5e5e5;
	padding: 0 1.5rem;
	div.w-sel {
		float: left;
		width: 33.33%;
		position: relative;
		overflow: hidden;
		height: 4rem;
		&:nth-child(2){
			text-align: center;
		}
		&:nth-child(3){
			text-align: right;
		}
		.select{
			display: inline-block;
			padding: 0;
			padding-right: 1.5rem;
			background-image: url(../assets/imgs/i-down1.png);
			background-position: right center;
			background-repeat: no-repeat;
			background-size: .9rem;
			max-width: 100%;
		}
		.select-text{
			height: 4rem;
			line-height: 4rem;
			font-size: 1.4rem;
			color: #666;
		}
		.select-icon{
			display: none;
		}
	}
}

// 弹窗popup
@keyframes popup{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(0);
	}
}
.animate-up{
	animation: popup .3s ease-out;
  animation-fill-mode: forwards;
}

// 自定义toast样式
.custom-toast .toast-wrapper{
	display: inline-block;
	left: 50%;
	right: auto;
	top: 30% !important;
	width: auto;
	height: 4.2rem;
	line-height: 4.2rem;
	font-size: 1.4rem;
	transform: translateX(-50%);
	text-align: center;
	border-radius: .4rem;
	.toast-message{
		padding: 0 1.5rem;
	}
}