page-washing-list {
  background: #F3F3F3;
  .list-item{
    padding-left: 1.5rem;
  }
  .custom-item .label{
    display: flex;
  }
  .up-zoom {
    padding-top: 8.6rem;
    .list-zoom {
      border-bottom: 1px solid #e5e5e5;
      margin-left: 1.5rem;
      height: 4.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > div.name {
        display: inline-flex;
        color: #a5a5a5;
        font-size: 1.6rem;
      }

      & > div.days {
        display: inline-flex;
        font-size: 1.6rem;
        position: relative;
        overflow: hidden;
        ion-datetime{
          padding-right: 1.2rem;
        }
        & > span {
          margin-right: 1.5rem;
          background: url("../assets/imgs/i-down1.png") center no-repeat;
          width: 1.5rem;
          height: 4.4rem;
          background-size: .9rem;
        }
      }

      & > div.counters {
        display: inline-flex;
        font-size: 1.6rem;

        span {
          margin-right: 1.2rem;
          line-height: 4.4rem;
        }

        span:first-child {
          color: #333333;
        }

        span:last-child {
          margin-right: 1.5rem;
          background: url("../assets/imgs/i-plus.png") left center no-repeat;
          width: 1.4rem;
          height: 4.4rem;
          background-size: 100%;
        }
      }
    }

    .list-zoom:last-child {
      margin-left: 0;

      & > div.name {
        padding-left: 1.6rem;
      }
    }

    .btn-zoom {
      display: inline-flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 1.5rem;

      .run-zoom {
        display: inline-flex;
        width: 31.333%;
        height: 4.4rem;
        border-radius: .4rem;
        border: 1px solid #d2d2d2;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &:nth-child(3n+2){
          margin: 0 3%;
        }
        &:nth-child(n+4){
          margin-top: 3%;
        }
        span:first-child {
          font-size: 14px;
          color: #333333;
        }

        span:last-child {
          font-size: 12px;
          color: #a5a5a5;
        }
      }

      .tapped-zoom {
        border: 1px solid #0080ff;

        span {
          color: #0080ff!important;
        }
      }
    }
  }

  .down-zoom {
    .list-zoom {
      .list-block:last-child {
        margin-left: 0;
        padding-left: 10px;
        background-position: 94.5% 26px;
        margin-bottom: 80px;
      }

      .list-block {
        display: flex;
        justify-content: flex-start;
        height: 6.5rem;
        align-items: center;
        margin-left: 10px;
        border-bottom: 1px solid #E5E5E5;

        & > img {
          width: 45px;
          height: 45px;
          display: inline-flex;
          flex-grow: 0;
        }

        & > div {
          display: inline-flex;
          flex-grow: 1;
          flex-direction: column;
          padding-left: 10px;
          color: #333333;

          span {
            display: inline-flex;
            color: #a5a5a5;
            font-size: 13px;

            em {
              font-size: 14px;
              color: #0080ff;
              display: inline-flex;
              align-items: center;
            }
          }

          span:nth-child(2) {
            padding-right: 10px;
          }

          span:first-child {
            padding-right: 20px;
          }
        }

        & > span {
          background: url("../assets/imgs/i-next.png") no-repeat;
          background-size: .5rem auto;
          background-position: 0 center;
          display: inline-flex;
          width: 2rem;
          flex-grow: 0;
          height: 100%;
        }
      }
    }
  }
  .g-footer{
    z-index: 1;
  }
  // .btn {
  //   position: fixed;
  //   bottom: 0;
  //   border-top: 1px solid #e5e5e5;
  //   height: 53px;
  //   text-align: center;
  //   font-size: 18px;
  //   width: 100%;
  //   z-index: 10000;
  //   background-color: white;

  //   span {
  //     float: left;
  //     display: inline-block;
  //     color: #333333;
  //     height: 53px;
  //     line-height: 53px;
  //     width: 50%;
  //   }

  //   span:last-child {
  //     background-color: #0080ff;
  //     color: white;
  //   }
  // }
}