page-pack-index {
  .g-footer {
    .info {
      padding-left: 1.5rem;
      color: #a5a5a5;
      font-size: 1.2rem;
      padding-top: 0.8rem;
  
      .name {
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #333;
      }
    }
  }
}
