page-receive-statistics {
  .g-content{
    padding-top: 7.7rem;
    background-color: #fff;
  }
  .custom-list .custom-item:last-child:after{
    display: block;
    left: 0;
  }
  .m-statistics{
    margin-bottom: 0;
  }
  .space-line{
    height: 1rem;
    background-color: #f3f3f3;
  }
  .list-item{
    padding-left: 1.5rem;
  }
  .list-item img{
    width: 5.5rem;
    height: 6.5rem;
  }
  .list-item .status{
    width: 4.6rem;
    padding: 0;
    color: #0080FF;
    background-color: #DAEDFF;
    &.refused{
      color: #fff;
      background-color: #F4333C;
    }
  }
}
