page-use-list {
  .g-content{
    padding-top: 8.6rem;
    background-color: #fff;
  }
  
  .list-item{
    padding-left: 1.5rem;
    img{
      width: 5.5rem;
      height: 6.5rem;
    }
  } 
  .custom-list .custom-item:last-child:after{
    display: block;
    left: 0;
  }
  
  
}
