<div class="g-header">
  <login-info></login-info>
  <div class="top-bar">
    <div class="u-select">
      <span>全部状态</span>
    </div>
    <span class="fr text-primary" [navPush]="todayRecyclePage">今日回收(2)</span>
  </div>
</div>
<div class="g-content">
  <div class="scroll-list">
    <ion-list class="custom-list">
      <div class="custom-item" *ngFor="let item of list;let index = index">
        <button ion-item (click)="toggleCheck(item.id)">
          <div class="list-item">
            <input type="radio" class="u-radio" [checked]="item.checked" />
            <img src="assets/imgs/item.jpg" />
            <div class="info">
              <h2>插值针</h2>
              <p>16091015487&emsp;器械数量：
                <span class="text-primary fw700">{{item.number}}</span>
              </p>
            </div>
            <span class="status used" *ngIf="item.status===1">已使用</span>
            <span class="status overdue" *ngIf="item.status===2">已过期</span>
            <span class="status unqualified" *ngIf="item.status===3">不合格</span>
          </div>
        </button>
        <a class="right" [navPush]="packageDetailPage">
          <span class="arrow-right"></span>
        </a>
      </div>
    </ion-list>
  </div>

  <div class="check-all">
    <div class="u-radio-box" (click)="toggleCheck($event, tt)" #tt>
      <input class="u-radio" type="radio" [checked]="checkAll" />
      <span>全选(16)</span>
    </div>
    <div class="right-input"></div>
  </div>
</div>

<div class="g-footer">
  <div class="flex-wrap">
    <div class="flex-item info">
      <p class="name">徐光强</p>
      <p>E888301&emsp;|&emsp;耳鼻咽喉科</p>
    </div>
    <div class="right-button">
      <button class="u-button blue" [navPush]="loginPage">确认回收(2)</button>
    </div>
  </div>
</div>