<div class="g-header">
  <login-info></login-info>
  <div class="top-bar">
    <div class="u-select">
      <span>全部状态</span>
    </div>
    <span class="fr text-primary" [navPush]="todayRecyclePage">今日回收(2)</span>
  </div>
</div>
<div class="g-content">  
  <ion-list class="custom-list">
    <div class="custom-item" *ngFor="let item of list;let index = index">
      <button ion-item (click)="toggleCheck(item.id)" >
        <div class="list-item">
          <input type="radio" class="u-radio" [checked]="item.checked"/>
          <img src="assets/imgs/item.jpg"/>
          <div class="info"> 
            <h2>插值针</h2>
            <p>16091015487&emsp;器械数量：<span class="text-primary">{{item.number}}</span></p>
          </div>
          <span class="status used" *ngIf="item.status===1">已使用</span>  
          <span class="status overdue" *ngIf="item.status===2">已过期</span> 
          <span class="status unqualified" *ngIf="item.status===3">不合格</span> 
        </div>
      </button> 
      <a class="right" [navPush]="packageDetailPage">
        <span class="arrow-right"></span>
      </a>
    </div>
    <!-- <div class="custom-item">
      <button ion-item (click)="toggleCheck($event)" >
        <div class="list-item">
          <input class="u-radio" type="radio"/>
          <img src="assets/imgs/item.jpg"/>
          <div class="info"> 
            <h2>插值针</h2>
            <p>16091015487&emsp;器械数量：<span class="text-primary">21</span></p>
          </div>
          <span class="status used">已使用</span>  
        </div>
      </button> 
      <a class="right" [navPush]="packageDetailPage">
        <span class="arrow-right"></span>
      </a>
    </div>
    <div class="custom-item">
      <button ion-item (click)="toggleCheck($event)">
        <div class="list-item">
          <input class="u-radio" type="radio"/>
          <img src="assets/imgs/item.jpg"/>
          <div class="info"> 
            <h2>区段器械包2</h2>
            <p>16091015487&emsp;器械数量：<span class="text-primary">4</span></p>
          </div>
          <span class="status overdue">已过期</span>  
        </div>
      </button> 
      <a class="right" [navPush]="packageDetailPage">
        <span class="arrow-right"></span>
      </a>
    </div>
    
    <div class="custom-item">
      <button ion-item (click)="toggleCheck($event)">
        <div class="list-item">
          <input class="u-radio" type="radio" checked/>
          <img src="assets/imgs/item.jpg"/>
          <div class="info"> 
            <h2>洗胃包</h2>
            <p>16091015487&emsp;器械数量：<span class="text-primary">4</span></p>
          </div>
          <span class="status overdue">已过期</span>  
        </div>
      </button> 
      <a class="right" [navPush]="packageDetailPage">
        <span class="arrow-right"></span>
      </a>
    </div>
    <div class="custom-item">
      <button ion-item (click)="toggleCheck($event, tt1)" #tt1>
        <div class="list-item">
          <input class="u-radio" type="radio" checked/>
          <img src="assets/imgs/item.jpg"/>
          <div class="info"> 
            <h2>插值针</h2>
            <p>16091015487&emsp;器械数量：<span class="text-primary">32</span></p>
          </div>
          <span class="status unqualified">不合格</span>  
        </div>
      </button> 
      <a class="right" [navPush]="packageDetailPage">
        <span class="arrow-right"></span>
      </a>
    </div> -->
  </ion-list>
</div>
   
<div class="g-footer">
  <div class="check-all">
    <div class="u-radio-box" (click)="toggleCheck($event, tt)" #tt>
      <input class="u-radio" type="radio" [checked]="checkAll"/>
      <span>全选(16)</span>
    </div>
    <div class="right-input"></div>
  </div>
  <div class="flex-wrap">
    <div class="info">
      <p class="name">徐光强</p>
      <p>E888301&emsp;|&emsp;耳鼻咽喉科</p>
    </div>
    <div class="btn">
      <button ion-button block [navPush]="loginPage">确认回收(2)</button>
    </div>
  </div>
</div>
  