page-recycle-list {
  .g-content{
    
    .scroll-list{
      position: absolute;
      top: 0;
      bottom: 6.2rem;
      left: 0;
      padding-top: 12.6rem;
      padding-bottom: 3.96rem;
      width: 100%;
      overflow-y: scroll;
      background-color: #fff;
    }
  }
  .check-all {
    position: absolute;
    bottom: 6.2rem;
    left: 0;
    display: flex;
    width: 100%;
    height: 4rem;
    padding-left: 1.5rem;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    align-content: center;

    .u-radio-box {
      flex: 1;
      padding-top: 0.8rem;
    }

    .right-input {
      width: 5.6rem;
      height: 100%;
      border-left: 1px solid #e5e5e5;
      background-image: url("../assets/imgs/i-keyboad.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 2.4rem;
    }
  }
}


.g-footer {
  border-top: none;
  .info {
    padding-left: 1.5rem;
    color: #a5a5a5;
    font-size: 1.2rem;
    padding-top: 0.8rem;

    .name {
      font-size: 1.6rem;
      line-height: 2.2rem;
      color: #333;
    }
  }
}
