<!-- 扫描科室 -->
<scan *ngIf="!showPage" scanType="1" (click)="showIndexPage($event)"></scan>
<span class="head-right-icon department" *ngIf="!showPage" (click)="chooseDepartment($event)">科室</span>
<span class="head-right-icon department" *ngIf="showPage" (click)="chooseDepartment($event)">手术室</span>

<div class="g-header">
  <div class="top-bar" *ngIf="showPage">
    <div class="u-select">
      <span>全部状态</span>
    </div>
    <span class="fr text-primary" [navPush]="todayRecyclePage">今日回收(2)</span>
  </div>
</div>
<div class="g-content" *ngIf="showPage">
  <div class="scroll-list">
    <ion-list class="custom-list">
      <div class="custom-item" *ngFor="let item of list;let index = index">
        <button ion-item (click)="toggleCheck(item.id)">
          <div class="list-item">
            <input type="radio" class="u-radio" [checked]="item.checked" />
            <img src="assets/imgs/item.jpg" />
            <div class="info">
              <h2>插值针</h2>
              <p>16091015487&emsp;器械数量：
                <span class="text-primary fw700">{{item.number}}</span>
              </p>
            </div>
            <span class="status used" *ngIf="item.status===1">已使用</span>
            <span class="status overdue" *ngIf="item.status===2">已过期</span>
            <span class="status unqualified" *ngIf="item.status===3">不合格</span>
          </div>
        </button>
        <a class="right" [navPush]="packageDetailPage">
          <span class="arrow-right"></span>
        </a>
      </div>
    </ion-list>
  </div>

  <div class="check-all">
    <div class="u-radio-box" (click)="toggleCheck($event, tt)" #tt>
      <input class="u-radio" type="radio" [checked]="checkAll" />
      <span>全选(16)</span>
    </div>
    <div class="right-input" (click)="showPopupPcodeFn($event)"></div>
  </div>
</div>

<div class="g-footer" *ngIf="showPage">
  <div class="flex-wrap">
    <div class="flex-item info" *ngIf="!recipientScan" (click)="recipientScanFn($event)">
      <p class="scan">请扫描下收人信息</p>
    </div>
    <div class="flex-item info" *ngIf="recipientScan">
      <p class="name">徐光强</p>
      <p>E888301&emsp;|&emsp;耳鼻咽喉科</p>
    </div>
    <div class="right-button">
      <button class="u-button blue" [disabled]="!recipientScan" [navPush]="loginPage" (click)="presentToast($event)">确认回收(2)</button>
    </div>
  </div>
</div>

<!-- 选择科室 -->
<div class="popup-choose" [ngClass]="{'animate-up': showPopup}">
  <div class="search-wrap">
    <div class="search-input">
      <input placeholder="输入科室简拼搜索" type="text">
      <button>搜索</button>
    </div>
    <div class="search-clear" (click)="hidePopup($event)"></div>
  </div>
  <index-list></index-list>
</div>

<!-- 输入包条码 -->
<div class="popup-input" *ngIf="showPopupPcode">
  <div class="mask" (click)="hidePopupPcodeFn($event)"></div>
  <input type="text" id="input" placeholder="请输入包条码" />
</div>