<div class="groups">
  <div class="group" id="B">
    <h2>B</h2>
    <div class="group-items">
      <div class="item">病理科</div>
    </div>
  </div>
  <div class="group" id="E">
    <h2>E</h2>
    <div class="group-items">
      <div class="item">耳鼻喉科</div>
      <div class="item">儿保科门诊</div>
      <div class="item">儿保保健科门诊</div>
      <div class="item">儿童重症监护病区</div>
    </div>
  </div>
  <div class="group" id="F">
    <h2>F</h2>
    <div class="group-items">
      <div class="item">耳鼻喉科</div>
      <div class="item">儿保科门诊</div>
      <div class="item">儿保保健科门诊</div>
      <div class="item">儿童重症监护病区</div>
    </div>
  </div>
  <div class="group" id="G">
    <h2>G</h2>
    <div class="group-items">
      <div class="item">病理科</div>
    </div>
  </div>
  <div class="group" id="H">
    <h2>H</h2>
    <div class="group-items">
      <div class="item">耳鼻喉科</div>
      <div class="item">儿保科门诊</div>
      <div class="item">儿保保健科门诊</div>
      <div class="item">儿童重症监护病区</div>
    </div>
  </div>
  <div class="group" id="J">
    <h2>J</h2>
    <div class="group-items">
      <div class="item">耳鼻喉科</div>
      <div class="item">儿保科门诊</div>
      <div class="item">儿保保健科门诊</div>
      <div class="item">儿童重症监护病区</div>
    </div>
  </div>
</div>
<div class="scroll-nav">
  <ul id="nav">
    <li>B</li>
    <li>E</li>
    <li>F</li>
    <li>G</li>
    <li>H</li>
    <li>J</li>
  </ul>
</div>
