page-grant-apply-department {
  .g-content{
    padding-top: 7.7rem;
  }
  .custom-item{
    display: block !important;
  }
  .list-item{
    padding-left: 1.5rem;
  }
  h2.tit{
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    color: #666;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
  }
  .pack-list{
    position: relative;
    padding: .4rem 1.5rem .4rem 6.6rem;
    line-height: 2rem;
    background-color: #f3f3f3;
    color: #a5a5a5;
    p{
      display: flex;
    }
    span{
      display: block;
    }
    span:first-child{
      flex: 1;
    }
    span:last-child{
      width: 7.5rem;
    }
  }
  .label{
    display: flex;
  }
  .g-footer{
    .button{
      margin: 0;
      height: 4.6rem;
      line-height: 4.6rem;
      font-size: 1.8rem;
    }
  }
}
