page-sorting-list {
  .list-zoom {
    .list-block:last-child {
      margin-left: 0;
      padding-left: 10px;
      background-position: 94.5% 26px;
      margin-bottom: 80px;
    }

    .list-block {
      display: flex;
      justify-content: flex-start;
      height: 65px;
      align-items: center;
      margin-left: 10px;
      border-bottom: 1px solid #E5E5E5;

      & > img {
        width: 45px;
        height: 45px;
        display: inline-flex;
        flex-grow: 0;
      }

      & > div {
        display: inline-flex;
        flex-grow: 1;
        flex-direction: column;
        padding-left: 10px;
        color: #333333;

        span {
          display: inline-flex;
          color: #a5a5a5;
          font-size: 13px;

          em {
            font-size: 14px;
            color: #0080ff;
            display: inline-flex;
            align-items: center;
          }
        }

        span:first-child {
          padding-right: 25px;
        }
      }

      & > span {
        background: url("/assets/imgs/i-next.png") 0 0 no-repeat;
        background-size: 8px auto;
        background-position: 0 26px;
        display: inline-flex;
        width: 30px;
        flex-grow: 0;
        height: 100%;
      }
    }
  }

  .foot-zoom {
    position: fixed;
    bottom: 0;
    height: 52px;
    width: 100%;
    box-shadow: 0 0 0 0 #E5E5E5;

    .list-btn {
      display: flex;
      height: 52px;

      & > div {
        color: white;
        background-color: #0080ff;
        font-size: 18px;
        align-content: center;
        display: inline-flex;
        flex-grow: 2;
        align-items: center;
        justify-content: center;
      }

      & > div:first-child {
        justify-content: flex-start;
        flex-grow: 3;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 15px;

        span {
          color: #333333;
          font-size: 16px;
          display: inline-flex;
        }

        span:last-child {
          font-size: 12px;
          color: #a5a5a5;
        }
      }
    }
  }
}