<div class="g-content" style="padding-top: 8.6rem; background: #fff">
  <div class="m-scan" *ngIf="scanType==1">
    <div class="img">
      <img src="assets/imgs/scan-department.png" alt="">
    </div>
    <p>请扫描科室</p>
  </div>

  <div class="m-scan" *ngIf="scanType==2">
    <div class="img">
      <img src="assets/imgs/scan-packer.png" alt="">
    </div>
    <p>请扫描打包人</p>
  </div>

  <div class="m-scan" *ngIf="scanType==3">
    <div class="img">
      <img src="assets/imgs/scan-pcode.png" alt="">
    </div>
    <p>请扫描包条码</p>
  </div>

  <div class="m-scan" *ngIf="scanType==4">
    <div class="img">
      <img src="assets/imgs/scan-shelf.png" alt="">
    </div>
    <p>请扫描存储架</p>
  </div>

  <div class="m-scan" *ngIf="scanType==5">
    <div class="img">
      <img src="assets/imgs/scan-patientcode.png" alt="">
    </div>
    <p>请扫描病人条码</p>
  </div>

  <div class="m-scan" *ngIf="scanType==6">
    <div class="img">
      <img src="assets/imgs/scan-plate.png" alt="">
    </div>
    <p>请扫清洗盘</p>
  </div>
</div>