page-sterilization-nopass {
  .scroll-content{
    top: 8.6rem;
  }
  .list-item{
    padding-left: 1.5rem;
  }
  .custom-item .label{
    display: flex;
    // .arrow-right{
    //   top: 1.6rem;
    //   transform: translateY(0);
    // }
  }
  .p-zoom {
    background-color: #f3f3f3;

    .up-zoom {
      display: flex;
      flex-direction: column;
      background-color: white;
      .p-result {
        height: 6rem;
        line-height: 6rem;
        margin: 1.5rem;
        background: #FFFFFF;
        border: 1px solid #f9f9f9;
        box-shadow: 0 .4rem 1rem 0 rgba(0,0,0,0.10);
        border-radius: .4rem;
        text-align: center;

        span {
          display: inline-block;
          width: 15.5rem;
          color: #f4333c;
          font-size: 2rem;
          text-align: right;
          background-image: url("../assets/imgs/image-unqualified.png");
          background-position: left .4rem;
          background-repeat: no-repeat;
          background-size: 7rem;
        }
      }

      .p-detail {
        margin-top: -1rem;
        .p-detail-list:last-child {
          border-bottom: none;
        }

        .p-detail-list {
          display: flex;
          height: 6rem;
          align-items: stretch;
          flex-direction: column;
          justify-content: center;
          border-bottom: 1px solid #e5e5e5;
          margin-left: 1.5rem;

          & > div {
            display: inline-flex;
          }

          div.p-name {
            font-family: PingFangSC-Regular;
            font-size: 1.4rem;
            line-height: 2rem;
            color: #F4333C;
            margin-bottom: .4rem;
          }

          div.p-dtl {
            display: flex;

            span {
              display: inline-flex;
              font-size: 1.2rem;
              line-height: 1.8rem;
              color: #A5A5A5;
              padding-right: 2rem;

              em {
                padding-left: .6rem;
                font-size: 1.2rem;
                color: #333333;
                font-style: normal;
              }
            }
          }
        }
      }

      .p-lines {
        display: inline-flex;
        height: 200px;
        flex-grow: 1;
      }
    }

    .down-zoom {
      margin-top: 10px;
      background-color: white;

      .sum-num {
        display: flex;
        height: 4rem;
        line-height: 4rem;
        color: #a5a5a5;
        font-size: 1.4rem;
        justify-content: flex-start;
        align-items: center;
        padding-left: 1.5rem;
        border-bottom: 1px solid #e5e5e5;

        span {
          min-width: 100px;
          display: inline-flex;

          em {
            color: #0080ff;
            display: inline-flex;
            align-items: center;
            padding-left: .8rem;
            font-style: normal;
            font-weight: bold;
          }
        }
      }

      .sum-list {
        .list-zoom {
          .list-block:last-child {
            margin-left: 0;
            padding-left: 10px;
            background-position: 94.5% 26px;
            margin-bottom: 80px;
          }

          .list-block {
            display: flex;
            justify-content: flex-start;
            height: 65px;
            align-items: center;
            margin-left: 10px;
            border-bottom: 1px solid #E5E5E5;

            & > img {
              width: 45px;
              height: 45px;
              display: inline-flex;
              flex-grow: 0;
            }

            & > div {
              display: inline-flex;
              flex-grow: 1;
              flex-direction: column;
              padding-left: 10px;
              color: #333333;

              span {
                display: inline-flex;
                color: #a5a5a5;
                font-size: 13px;

                em {
                  font-size: 14px;
                  color: #0080ff;
                  display: inline-flex;
                  align-items: center;
                }
              }

              span:first-child {
                padding-right: 25px;
              }
            }

            & > span {
              background: url("../assets/imgs/i-next.png") 0 0 no-repeat;
              background-size: 8px auto;
              background-position: 0 26px;
              display: inline-flex;
              width: 30px;
              flex-grow: 0;
              height: 100%;
            }
          }
        }
      }
    }
  }
}